<nav class="navbar navbar-toggleable-sm  gazi-nav" ng-controller="navCtrl as nc">
    <div class="container gazi-nav-container">

        <button type="button" class="navbar-toggler navbar-toggler-right hvr-grow"
                data-toggle="collapse" data-target="#gaziGroupNav"
                aria-controls="gaziGroupNav" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="glyphicon glyphicon-menu-hamburger navbar-toggler-icon animated waves-effect"></span>
        </button>
        <a class="navbar-brand" ng-href="/">
            <img class="hidden-sm-down" src="content/images/gazi_group.png" alt="logo"/>
            <img class="hidden-md-up" src="content/images/gazi_group_sm.png"
                 alt="logo"/>
        </a>

        <div class="collapse navbar-collapse" id="gaziGroupNav">
            <ul class="ml-auto navbar-nav">
                <li class="nav-item " ui-sref-active="active">
                    <a ui-sref="home" class="nav-link animated waves-effect hvr-underline-from-left">
                        <span class="hidden-sm-down.hidden-lg-up">
                            <span class="glyphicon glyphicon-home" data-toggle="tooltip" data-placement="" title="{{nc.home}}"></span>
                        </span>
                        <span class="hidden-md-down">
                            <span>
                                {{nc.home}}
                            </span>
                        </span>
                        <span class="hidden-md-up">
                            <span>
                                {{nc.home}}
                            </span>
                        </span>
                    </a>
                </li>
                <li class="nav-item dropdown btn-group ">
                    <a ui-sref="" class="nav-link dropdown-toggle hvr-underline-from-left animated waves-effect " id="concernsDropdown" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <span class="hidden-sm-down.hidden-lg-up">
                            <span class="glyphicon glyphicon-briefcase" data-toggle="tooltip" data-placement="" title="{{nc.concerns}}"></span>
                        </span>
                        <span class="hidden-md-down">
                            <span>
                                {{nc.concerns}}
                            </span>
                        </span>
                        <span class="hidden-md-up">
                            <span>
                                {{nc.concerns}}
                            </span>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown animated fadeIn">
                        <a ui-sref-active="active" ui-sref="sister_concerns" class="dropdown-item">
                            <span class="glyphicon glyphicon-th-large"></span>&nbsp;
                            <span >{{nc.sister_concerns}}</span>
                        </a>
                        <a ui-sref="other_concerns" ui-sref-active="active" class="dropdown-item">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;
                            <span>{{nc.other_concerns}}</span>
                        </a>
                        <a ui-sref="group_contacts" ui-sref-active="active" class="dropdown-item">
                            <span class="glyphicon glyphicon-phone"></span>&nbsp;
                            <span>{{nc.group_contacts}}</span>
                        </a>
                    </div>
                </li>
                <li class="nav-item" ui-sref-active="active">
                    <a ui-sref="welfare" class="hvr-underline-from-left animated waves-effect nav-link">
                        <span class="hidden-sm-down.hidden-lg-up" data-toggle="tooltip" data-placement="" title="{{nc.welfare}}">
                            <span class="glyphicon glyphicon-grain"></span>
                        </span>
                        <span class="hidden-md-down">
                            <span>
                                {{nc.welfare}}
                            </span>
                        </span>
                        <span class="hidden-md-up">
                            <span>
                                {{nc.welfare}}
                            </span>
                        </span>
                    </a>
                </li>

                <li class="nav-item  dropdown btn-group">
                    <a ui-sref="" class="nav-link dropdown-toggle animated waves-effect hvr-underline-from-left" id="peopleDropdown" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <span class="hidden-sm-down.hidden-lg-up" data-toggle="tooltip" data-placement="" title="{{nc.people}}">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <span class="hidden-md-down">
                            <span>
                                {{nc.people}}
                            </span>
                        </span>
                        <span class="hidden-md-up">
                            <span>
                                {{nc.people}}
                            </span>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown animated fadeIn">
                        <a ui-sref-active="active" ui-sref="directors" class="dropdown-item">
                            <span class="glyphicon glyphicon-king"></span>&nbsp;
                            <span>{{nc.directors}}</span>
                        </a>
                        <a ui-sref="management" ui-sref-active="active" class="dropdown-item">
                            <span class="glyphicon glyphicon-blackboard"></span>&nbsp;
                            <span>{{nc.management}}</span>
                        </a>
                    </div>
                </li>

                <li class="nav-item " ui-sref-active="active">
                    <a class="nav-link animated waves-effect hvr-underline-from-left" ui-sref="contact">
                        <span class="hidden-sm-down.hidden-lg-up" data-toggle="tooltip" data-placement="" title="{{nc.contact}}">
                            <span class="glyphicon glyphicon-phone-alt"></span>
                        </span>
                        <span class="hidden-md-down">
                            <span>
                                {{nc.contact}}
                            </span>
                        </span>
                        <span class="hidden-md-up">
                            <span>
                                {{nc.contact}}
                            </span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


