/*....................................................................................................................
Variables
....................................................................................................................*/
:root {
    --highlight-bg-min: rgba(0, 85, 167, .95);
    --highlight-bg-reg: rgba(0, 85, 167, 1);
    --highlight-bg-max: rgba(27, 26, 65, 1);
    --bg-regular: rgba(230, 230, 230, 1);

    --highlight-txt-min: rgba(0, 85, 167, .95);
    --highlight-txt-reg: rgba(0, 85, 167, 1);
    --highlight-txt-max: rgba(27, 26, 65, 1);
    --txt-regular: rgba(230, 230, 230, 1);

    --shadow-black-min: rgba(0, 0, 0, .3);
    --shadow-black-reg: rgba(0, 0, 0, .5);
    --shadow-black-max: rgba(0, 0, 0, .7);

    --shadow-blue-min: rgba(0, 85, 167, .3);
    --shadow-blue-reg: rgba(0, 85, 167, .5);
    --shadow-blue-max: rgba(0, 85, 167, .7);

    --shadow-white-min: rgba(230, 230, 230, .3);
    --shadow-white-reg: rgba(230, 230, 230, .5);
    --shadow-white-max: rgba(230, 230, 230, .7);

    --accent-blue: rgba(33, 150, 243, 1);

    --overview-bg: rgba(0, 85, 167, .3);
    --overview-txt-hl: rgba(0, 85, 167, 1);
    --overview-txt: rgba(230, 230, 230, .3);
    --overview-bg-hl: rgba(230, 230, 230, .8);

    --nav-bg: rgba(239, 239, 239, 1);
    --nav-bg-hl: rgba(252, 252, 252, 1);

}

/*....................................................................................................................
Global Styles
....................................................................................................................*/
@font-face {
    font-family: montserrat-black;
    src: url('content/fonts/ttf/Montserrat-Black.ttf')
}

@font-face {
    font-family: montserrat-regular;
    src: url('content/fonts/ttf/Montserrat-Regular.ttf')
}

@font-face {
    font-family: montserrat-light;
    src: url('content/fonts/ttf/Montserrat-Light.ttf')
}

@font-face {
    font-family: montserrat-bold;
    src: url('content/fonts/ttf/Montserrat-Bold.ttf')
}

@font-face {
    font-family: montserrat-medium;
    src: url('content/fonts/ttf/Montserrat-Medium.ttf')
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--shadow-black-min);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px var(--shadow-black-reg);
}

body {
    background-color: var(--bg-regular);
    font-family: montserrat-regular;
}

h1, h2, h3, h4, h5, h6 {
    font-family: montserrat-medium;
}

.container-main {
    width: 100%;
    border-style: none;
    background-color: transparent;
}

#loading-bar .bar {
    background: var(--accent-blue);
    height: 5px;
}

/*....................................................................................................................
Navbar Styles
....................................................................................................................*/

@media (min-width: 768px) {
    .dropdown-menu {
        left: inherit !important;
        right: 0 !important;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    a.nav-link {
        padding-top: 5px;
        font-size: 12px;
        margin-right: 5px;
    }

    .navbar .dropdown-menu a {
        font-size: 12px;
    }

    .gazi-nav {
        width: 100%;
        padding: 0px;
        box-shadow: 0 4px 4px 0 var(--shadow-black-min);
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    a.nav-link {
        padding-top: 15px;
        font-size: 12px;
        margin-right: 5px;
    }

    .navbar .dropdown-menu a {
        font-size: 12px;
    }

    .gazi-nav {
        width: 100%;
        min-height: 100px;
        padding: 0px;
        box-shadow: 0 4px 4px 0 var(--shadow-black-min);
    }
}

@media (min-width: 1200px) {
    a.nav-link {
        padding-top: 30px;
        font-size: 15px;
        margin-right: 5px;
    }

    .navbar .dropdown-menu a {
        font-size: 15px;
    }

    .gazi-nav {
        width: 100%;
        min-height: 100px;
        padding: 0px;
        box-shadow: 0 4px 4px 0 var(--shadow-black-min);
    }
}

button.navbar-toggler {
    color: var(--highlight-bg-reg);
    cursor: hand;
}

button.navbar-toggler:hover {
    color: var(--accent-blue);
}

.gazi-nav {
    background-color: var(--nav-bg);
}

a.navbar-brand {
    margin-top: auto;
}

.gazi-nav-container {
    width: 95% !important;
    padding: 10px;
    box-shadow: none;
}

.dropdown-menu > li > a {
    color: var(--highlight-txt-reg);
}

.dropdown-menu {
    background-color: var(--nav-bg-hl);
    border-radius: 5px;
    border: thin var(--shadow-white-reg) ridge;
}

@media (min-width: 769px) {

    .dropdown-menu {
        background-color: var(--nav-bg-hl);
        border-radius: 10px;
        border: thin var(--shadow-white-reg) ridge;
    }

    .navbar-nav > li > a {
        color: var(--highlight-txt-reg);
        padding-bottom: 5px;
        border-bottom: thick var(--highlight-bg-reg) solid;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;

    }

    .navbar-nav > li > a:hover {
        color: var(--highlight-txt-max);
    }

    .navbar-nav > li.active > a {
        color: var(--highlight-txt-reg);
        box-shadow: 0 2px 2px 0 var(--shadow-black-reg);
    }

    .navbar-nav > li.active > a:hover {
        color: var(--highlight-txt-max);
    }

    .hvr-underline-from-left:before {
        background: var(--accent-blue);
    }

    .dropdown-item:hover {
        background: var(--accent-blue);
        color: var(--txt-regular);
    }

    .dropdown-item.active:hover {
        background: var(--accent-blue);
        color: var(--highlight-txt-max);
    }

    .dropdown-item {
        color: var(--highlight-txt-reg);
    }

}

@media (max-width: 768px) {
    a.nav-link {
        padding: 6px 3px 2px 3px !important;
        font-size: 14px;
        margin-right: 2px;
        margin-bottom: 10px;
    }

    div.dropdown-menu.dropdown {
        margin-top: -6px;
    }

    .navbar .dropdown-menu a {
        font-size: 10px;
    }

    .gazi-nav {
        width: 100%;
        padding: 0px;
        box-shadow: 0 4px 4px 0 var(--shadow-black-reg);
    }

    ul.ml-auto.navbar-nav {
        padding-top: 30px;
        font-size: 12px;
    }

    ul.ml-auto.navbar-nav > li {

    }

    li.nav-item > a.nav-link {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }

    .navbar-nav > li > a:hover {
        color: var(--highlight-txt-reg);
    }

    .navbar-nav > li.active > a {
        color: var(--highlight-txt-reg);
        box-shadow: 0 2px 0 0 var(--shadow-blue-reg);;
    }

    .navbar-nav > li.active > a:hover {
        color: var(--highlight-txt-max);
    }

    .hvr-underline-from-left:before {
        background: var(--accent-blue);
    }

    .dropdown-item:hover {
        background: var(--accent-blue);
        color: var(--txt-regular);
    }

    .dropdown-item.active:hover {
        background: var(--accent-blue);
        color: var(--highlight-txt-max);
    }

    .dropdown-item {
        color: var(--highlight-txt-reg);
    }
}

/*....................................................................................................................
Home Header Styles
....................................................................................................................*/

.gazi_color_dark {
    color: var(--txt-regular);
    background-color: var(--highlight-bg-min);
}

@media (max-width: 768px) {
    #header_container {
        height: auto;
        margin-top: 20px;

    }
}

@media (min-width: 769px) and (max-width: 850px) {
    #header_container {
        height: auto;
        margin-top: 25px;

    }
}

@media (min-width: 851px) and (max-width: 1000px) {
    #header_container {
        height: auto;
        margin-top: 30px;
    }
}

@media (min-width: 1001px) {
    #header_container {
        height: auto;
        margin-top: 32px;
    }
}

@media (max-width: 768px) {
    #header_container {
        width: 100%;
        padding: 0;
        background-image: url('content/images/Clean-Business-Icons-Set.jpg');
        background-size: 100px 100px;
        background-repeat: repeat;
        background-position: 0px 0px;
        margin-bottom: 10px;
    }
}

@media (min-width: 769px) {
    @keyframes animatedBackground {
        from {
            background-position: 0 0;
        }
        to {
            background-position: 100% 0;
        }
    }
    #header_container {
        width: 100%;
        padding: 0;
        background-image: url('content/images/Clean-Business-Icons-Set.jpg');
        background-size: 150px 150px;
        background-repeat: repeat;
        background-position: 0px 0px;
        animation: animatedBackground linear;
        animation-duration: 60s;
        animation-iteration-count: 1;
        margin-bottom: 10px;
    }
}

#header_text_container {
    width: 100%;
    height: auto;
    padding: 0;
}


#header_text {
    width: 95%;
    padding: 5% 10px 5% 0px;
}

button.btn-outline-white.btn {
    font-family: montserrat-regular;
    margin-left: 0px;
}

button.btn-outline-white.btn:hover {
    background: rgba(230, 230, 230, .1) !important;
}

.learn-more-btn{
    text-align: left!important;
}

/*....................................................................................................................
About Modal Styles
....................................................................................................................*/
#about-modal {
    text-align: justify;
}

.modal-dialog > .modal-content {
    border-radius: 5px;
}

/*.modal-header{*/
/*border-top-left-radius: 10px;*/
/*border-top-right-radius: 10px;*/

/*}*/

.modal-footer {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.modal-header {
    background: var(--nav-bg);
    box-shadow: 0 4px 4px 0 var(--shadow-black-min);
    margin-bottom: 8px;
    color: var(--highlight-txt-max);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.hvr-glow {
    box-shadow: 0 0 10px var(--accent-blue);
}

.hvr-glow:hover {
    box-shadow: 0 0 20px var(--accent-blue);
}

#about-modal-footer {
    background: #e8eaf6;
    height: 10px;
}

/*....................................................................................................................
Overview Styles
....................................................................................................................*/

.overview-bg-hl {
    background-color: var(--overview-bg-hl) !important;
}


@keyframes animatedUnderline {
    from{
        width:0%;
    }
    to{
        width:100%;
    }
}
@keyframes animatedOverview {
    from {
        color: var(--overview-txt);
        background-color: var(--overview-bg);

    }
    to {
        color: var(--overview-txt-hl);
        background-color: var(--overview-bg-hl);

    }

}

@keyframes animatedInitFill {
    from {
        background-color: transparent;
    }
    to {
        background-color: var(--overview-bg);
    }
}

@keyframes animatedOverviewReverse {
    from {
        color: var(--overview-txt-hl);
        background-color: var(--overview-bg-hl);
    }
    to {
        color: var(--overview-txt);
        background-color: var(--overview-bg);
    }
}

@keyframes animatedZoomIn {
    from {
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
    }
    to {
        height: 125%;
        width: 125%;
        top: -12.5%;
        botton: 25%;

    }

}

@keyframes animatedZoomOut {
    to {
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
    }
    from {
        height: 125%;
        width: 125%;
        top: -12.5%;
        botton: 12.5%;
    }

}
.width-00{
    width: 0%!important;
}

.overview-underline-from-left{
    height: 4px;
    width: 0px;
    left: 0;
    margin-bottom: 12px;
    overflow: hidden;
    background-color: var(--accent-blue);
}
.overview-underline-from-left-anim{
    animation: animatedUnderline;
    animation-duration: 500ms;
    animation-iteration-count: 1;
}

.initFill {
    animation: animatedInitFill linear;
    animation-duration: 100ms;
    animation-iteration-count: 1;
}

.emph {
    animation: animatedOverview linear;
    animation-duration: 500ms;
    animation-iteration-count: 1;
}

.reverse-emph {
    animation: animatedOverviewReverse linear;
    animation-duration: 500ms;
    animation-iteration-count: 1;
}

.zoomInImage {
    animation: animatedZoomIn;
    animation-duration: 500ms;
    animation-iteration-count: 1;
}

.zoomOutImage {
    animation: animatedZoomOut;
    animation-duration: 500ms;
    animation-iteration-count: 1;
}

.overview-text-container {
    height: 100%;
    padding: 0px 5%;
    text-align: justify;
}

.padding-0 {
    padding: 0px;
}

.width-99 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    height: 100%;
    color: var(--overview-txt);
}

.width-100 {
    width: 100%;
    margin: 60px 0px 32px 0px;
    height: auto;
    position: relative;
}

.overview-container > img {
    position: absolute;
    left: 0;
    top: 0;
}

#mission, #vision {
    border-right: 2px var(--bg-regular) groove;
}

#mission {
    animation-delay: 300ms;
}



#vision {
    animation-delay: 600ms;
}

#future-plan {
    animation-delay: 900ms;
}

.overview-container img.img-fluid {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    object-fit: cover;
    overflow: hidden;
}

.overview-container {
    padding: 0px;
    overflow: hidden;
}

.overview-container img {
    z-index: -2 !important;
}

.overview-container h1 {
    padding-top: 30px;
    width: 100%;
    margin-bottom: 0px;
    padding-left: 2px;
    text-align: left;
}

.overflow-msg-container {

    overflow: auto;
    padding-top: 5%;
    height: 70%;

}

.overflow-msg-container > p {
    padding-right: 10px;
}

@media (max-width: 768px) {
    .overview-container, .overview-text-container {
        height: 350px;
    }

    .overflow-msg-container {
        font-size: 12px;
        height: 70%;
    }

    #mission, #vision {
        border-right: none;
        border-bottom: 2px var(--bg-regular) groove;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .overview-container, .overview-text-container {
        height: 400px;
    }

    .overflow-msg-container {
        font-size: 14px;
    }

    #mission, #vision {
        border-right: none;
        border-bottom: 2px var(--bg-regular) groove;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .overflow-msg-container {
        font-size: 12px;
    }

}

@media (min-width: 1200px) {
    .overflow-msg-container {
        font-size: 16px;
    }

}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3 !important;
    overflow: hidden;
}

.remove-from-screen{
    position : absolute;
    left     : -10000px;
    top      : -10000px;
}

