<div ng-controller="homeCtrl as hc"  ng-init="hc.load()">
    <div id="header_container" class="container" infinite-scroll="hc.loadNextContent()">
        <div id="header_text_container" class="gazi_color_dark" >
            <div id="header_text" class="row ml-auto mr-auto animated fadeIn">
                <div class="col-md-8">
                    <div>
                        <span class="hidden-md-down jumbotron-hr display-3">
                            {{hc.heding}}
                        </span>
                        <span class="hidden-lg-up jumbotron-hr display-4">
                            {{hc.heding}}
                        </span>

                    </div>

                    <span class="lead">
                        {{hc.msg}}
                    </span>
                    <div>
                        <button type="button" class="learn-more-btn btn-outline-white waves-effect waves-light btn" data-toggle="modal"
                                data-target="#about-modal">
                            Learn More <span style="font-family: sans-serif"> &rarr; </span>
                        </button>
                    </div>
                </div>
                <div class="col-md-4"></div>

            </div>
        </div>
    </div>

    <div class="container-fluid padding-0 animated fadeInUp" ng-show="hc.showOverview">
        <div  overview-directive overview="hc.overview" ></div>
    </div>


    <div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="about-modalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="about-modalLabel" class="modal-title">
                        {{hc.aboutHeader}}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="gaziHistoryIndicators" class="carousel slide carousel-fade hvr-glow" data-ride="carousel"
                         data-pause="hover">
                        <ol class="carousel-indicators">
                            <li data-target="#gaziHistoryIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#gaziHistoryIndicators" data-slide-to="1"></li>
                            <li data-target="#gaziHistoryIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="view hm-black-light">
                                    <img class="d-block img-fluid"
                                         src="https://mdbootstrap.com/img/Photos/Slides/img%20(22).jpg"
                                         alt="First slide">
                                </div>
                                <div class="carousel-caption d-none d-md-block">
                                    <h3>History A</h3>
                                    <p>This is the starting of Gazi Group</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="view hm-black-light">
                                    <img class="d-block img-fluid"
                                         src="https://mdbootstrap.com/img/Photos/Slides/img%20(23).jpg"
                                         alt="First slide">
                                </div>
                                <div class="carousel-caption d-none d-md-block">
                                    <h3>History B</h3>
                                    <p>This is the building phase of Gazi Group</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="view hm-black-light">
                                    <img class="d-block img-fluid"
                                         src="https://mdbootstrap.com/img/Photos/Slides/img%20(19).jpg"
                                         alt="First slide">
                                </div>
                                <div class="carousel-caption d-none d-md-block">
                                    <h3>History C</h3>
                                    <p>Gazi Group at its best</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#gaziHistoryIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#gaziHistoryIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="modal-body">
                    Gazi Group was established in 1974. The Group is one of the leading business houses of the country’s
                    rubber and plastic sector(s) in Bangladesh.
                    <br/>
                    Gazi group is one of the renowned groups of the country having strong footprint in Manufacturing,
                    Trading, Distribution, ICT, Communication, Real Estate, Banking, Insurance, and Media Businesses
                    over the last 3 decades. Gazi group and its Strategic Business Units have been in operation
                    successfully for the last 35 years.Members of Gazi Group (Allied Concerns).
                    <br/>
                    Gazi Tanks (Manufacturer and Distributor of Water Tanks and Sinks), Gazi Tyres (Manufacturer and
                    Distributor of Tyres of Commercial and Non-commercial Vehicles), Gazi Pipes (Manufacturer and
                    Distributor of Water Pipes, UPVS Pipes and Fittings), Gazi International (Importer and Distributor
                    of Water Pumps, Diesel Engines and Power Tillers), Gazi Satellite TV Ltd. (Television Channel), Gazi
                    Networks Ltd. (Interconnection Exchange in Bangladesh for Mobile and PSTN Operators), and Gazi
                    Communications (VSAT Service Provider and Elite Partner of Juniper Networks in Bangladesh) of Gazi
                    Group.
                </div>
                <div class="modal-footer" id="about-modal-footer">

                </div>
            </div>
        </div>
    </div>
</div>

