<div class="width-100">
    <div class="row width-99">
        <div class="col-lg-4 overview-container  animated fadeInUp" image-zoom-directive hover-directive
             id="{{overview.keys[0]}}" vid-id="{{overview.videos[0]}}" id-key="{{overview.keys[0]}}">
            <div class="overview-text-container">
                <h1 class=" waves-effect waves-light">
                    <a>{{overview.headers[0]}}</a>
                </h1>
                <div class="overview-underline-from-left"></div>
                <div class="overflow-msg-container">
                    <p>
                        {{overview.msgs[0]}}
                    </p></div>
            </div>
            <img class="img-fluid" src="{{overview.imgSrc[0]}}">
        </div>
        <div class="col-lg-4 overview-container animated fadeInUp" image-zoom-directive hover-directive
             vid-id="{{overview.videos[1]}}" id-key="{{overview.keys[1]}}" id="{{overview.keys[1]}}">

            <div class="overview-text-container">
                <h1 class=" waves-effect waves-light">
                    <a>{{overview.headers[1]}}</a>
                </h1>
                <div class="overview-underline-from-left"></div>
                <div class="overflow-msg-container"><p>
                    {{overview.msgs[1]}}

                </p></div>
            </div>
            <img class="img-fluid" src="{{overview.imgSrc[1]}}">
        </div>
        <div class="col-lg-4 overview-container animated fadeInUp" image-zoom-directive hover-directive
             vid-id="{{overview.videos[2]}}" id-key="{{overview.keys[2]}}" id="{{overview.keys[2]}}">

            <div class="overview-text-container">
                <h1 class=" waves-effect waves-light">
                    <a>{{overview.headers[2]}}</a>
                </h1>
                <div class="overview-underline-from-left"></div>
                <div class="overflow-msg-container">
                    <p style="height: auto">
                        {{overview.msgs[2]}}

                    </p>
                </div>
            </div>
            <img class="img-fluid" src="{{overview.imgSrc[2]}}">
        </div>
    </div>
    <div class="row width-99 screen">
        <div id="vid-player"/>
    </div>

</div>


